/*Major fixes starts here */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{font-family: 'Inter', sans-serif;
font-size: 62.5%;
}

main{
    padding: 0 20px 40px 20px;

}
/*Major fixes ends here */

/* Header section starts here */
.header-section{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center ;
margin: 30px 0;
}
.header-section .pri{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.header-section .simp{
    margin:20px 0 ;
font-size: 30px;
font-weight: lighter;
}
.btn{
    background: gray;
    padding: 3px 5px;
    border-radius: 10px;
}
.btn .btn-1{
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.btn .btn-2{
    background: none;
    border: none;
    padding: 10px 25px;
    font-weight: bold;
}

/* Header section ends here */

/* Body Section ends here */
.body{
    border: 2px solid black;
    border-radius: 15px;
    padding: 30px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-btn{
    background:#3D3737;
    padding: 10px 20px 10px 30px;
    border: none;
    color: white;
    margin: 35px 0;
}
.body-a{
 padding: 20px;
 width: 25%;
 border-right: 2px solid black;
}
.b{
    border-right: none;
}
.body-a h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 20px 0 30px 0;
}

.body h1 {
    font-size: 2rem;
    padding: 15px 0;
}
.body-a .amount{
    height: 20vh;
}
.body-a p{
    margin: 4px 0;
    font-size: 1rem;
}
.body-a h3{
    height: 30px;
}
.body-a span{
font-size: 0.8rem;
}

/* Body Section starts here */

/* Header section starts here */
/* Header section ends here */
/* Header section starts here */
/* Header section ends here */

