@media screen and (max-width:1000px){
   
    .header-section{
        text-align: center;
    }
    .header-section .simp{
        font-size: 20px;
        width: 60%;
    }
    .body-a{
        border: none;
        width: 100%;
        padding: 10px;
    }

    .main-btn{
        margin: 0 0 25px 0;
    }
    .body-a .amount{
        height: 17vh;
    }
    .body-a p{
        font-size: 15px;
    }
    













}